.container{
    display:flex;
    align-items:baseline;
    flex-direction:row;
    word-wrap: break-word;
    width: 300px;
    background-color: rgb(242, 242, 242);
    height:120px;
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
}


.title{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    font-size: 20;
}

.body{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    font-size: 10;
}

